// header
header.page__header.header
	.top-line
		.container
			.row
				.col-xs-6.top-line__left
					ul.top-line__contacts.blocks-justify
						li
							i.fa 
							a(href="tel:+79158002765") +7 (915) 800 27-65
						li
							i.fa 
							a(href="mailto:info@itn-proekt.ru") info@itn-proekt.ru
						li
							i.fa 
							span г. Брянск ул. Молодой Гвардии д. 64, оф. 128
				.col-xs-6.top-line__right.ta-right
					a.fancybox(href="#popupCallback").btn.btn--callback
						i.fa 
						span Заказать звонок
					
	.header__center
		.container
			.row
				.col-xs-6
					a(href="/").logo__wrap
						.logo
							span ITN
							span Проект
						.logo__text Cайты для тех, кто <br> хочет <span>быть первым!</span>
				.col-xs-6
					.header__menu.blocks-justify
						ul
							li: a(href="#") Главная
							li: a(href="#") О компании
							li: a(href="#") Акции
							li: a(href="#") Услуги
							li: a(href="#") Проекты
							li: a(href="#") Контакты
