//inner-header
.page__inner-header.inner-header
	.container
		.inner-header__text
			span.inner-header__header При заказе современного сайта
			span.inner-header__desc Получите по-настоящему качественные и продуманные решения для бизнеса с лицензией 1С-БИТРИКС
			a(href="").btn.btn--whitebd Подробнее
//inner-header end
//breadcumbs
.breadcumbs
	.container
		ul
			li: a(href="#") Главная
			li: a(href="#") Услуги
			li.current: a(href="#") Развитие сайтов
//breadcumbs end









