mixin projectItem(className)
	.projects__item.clearfix(class=className)
		.projects__left
			img(src="img/project-item-img.jpg", alt="")
		.projects__right
			.centered-wrap
				.centered
					.our-works__header
							span.name СТОМАТОЛОГИЧЕСКАЯ КЛИНИКА «СОЮЗ»
							span Промо сайт
							.our-works__logo
								img(src="img/project-logo.png", alt="")
					.our-works__body
						p
							b Город: 
							span Брянск	
						p
							b Задача: 
							span Cделать яркий фирменный стиль и разработать корпоративный сайт.
						p
							b Дизайн: 
							span Эксклюзивный
						p
							b Бюджет: 
							span 228 300 руб.
					.projects__item-footer
						a(href="#").btn.btn--bluebd Подробнее
						a(href="#").btn.btn--blue Хочу такую услугу !
