extends _template-inner

block main
	.inner-page
		.inner-page__header.header-left
			.container
				h2 О компании
				p.big Сайты для тех, кто хочет быть первым!
		.content
			.container
				img(src="img/about.jpg", alt="").img-responsive.fl-right
				p Мы предлагаем создание сайтов на постоянно высоком уровне с уникальным дизайном и на различных системах управления сайтом (CMS). С помощью большого набора инструментов наши специалисты делают поисковую оптимизацию сайта, и как следствие продвижение сайтов. Эффективная поддержка сайта достигается за счет практически бесперебойной работы собственного сервера, расположенного на территории Российской Федерации. Компания «ITN-Проект» занимается разработкой, продвижением и поддержкой сайтов для корпоративных клиентов и государственных организаций С помощью большого набора инструментов наши специалисты делают поисковую оптимизацию сайта, и как следствие продвижение сайтов. С помощью большого набора инструментов наши специалисты делают поисковую оптимизацию сайта, и как следствие продвижение сайтов.
				p Сегодняшняя жизнь уже не представляется без привычных нам вещей — телефоны, компьютеры, оргтехника, интернет, системы сигнализации и системы видео наблюдения. Основной вид деятельности нашей компании это создание сайтов, продвижение сайтов, поддержка сайта.
				p Мы предлагаем создание сайтов на постоянно высоком уровне с уникальным дизайном и на различных системах управления сайтом (CMS). С помощью большого набора инструментов наши специалисты делают поисковую оптимизацию сайта, и как следствие продвижение сайтов. Эффективная поддержка сайта достигается за счет практически бесперебойной работы собственного сервера, расположенного на территории Российской Федерации.
				p Компания «ITN-Проект» занимается разработкой, продвижением и поддержкой сайтов для корпоративных клиентов и государственных организаций. Мы работаем в сфере создания сайтов с 2009 года, имеем большой опыт создания интернет решений, часто выходящих за рамки обычного сайта.
				p Также компания «ITN-Проект» предлагает услуги по поддержке и IT-аутсорсингу компаний, установку систем сигнализации и систем видеонаблюдения на предприятиях, в магазинах, частных домах и квартирах, продажу электроники и расходных материалов для оргтехники (картриджи, тонер, ракели, фотобарабаны).