extends _template-inner

block main
	.inner-page
		.inner-page__header
			.container
				h2 Развитие сайтов
				p.big Опередите конкурентов!
		.services-inner
			.container
				.row
					.col-xs-6
						.services-inner__item
							.services-inner__header 
								span.name Продвижение сайтов
								span.price Вывод в топ: 228 300 руб.
								.fa.blue 
							.services-inner__desc Оказание комплексных услуг по созданию сайтов для корпоративных клиентов и государственных организаций. 
							a(href="#").btn.btn--blue Подробнее
					.col-xs-6
						.services-inner__item
							.services-inner__header 
								span.name Контекстная реклама
								span.price Планируемая стоимость: 228 300 руб.
								.fa.blue 
							.services-inner__desc Оказание комплексных услуг по созданию сайтов для корпоративных клиентов и государственных организаций. А так же 228 мужиков бла бла девак за 100 рексов и т.д. 
							a(href="#").btn.btn--blue Подробнее
					.col-xs-6
						.services-inner__item
							.services-inner__header 
								span.name Социальный маркетинг
								span.price Планируемая стоимость: 228 300 руб.
								.fa.blue 
							.services-inner__desc Оказание комплексных услуг по созданию сайтов для корпоративных клиентов и государственных организаций. 
							a(href="#").btn.btn--blue Подробнее
					.col-xs-6
						.services-inner__item
							.services-inner__header 
								span.name Аудит сайта
								span.price Планируемая стоимость: 228 300 руб.
								.fa.blue 
							.services-inner__desc Оказание комплексных услуг по созданию сайтов для корпоративных клиентов и государственных организаций. 
							a(href="#").btn.btn--blue Подробнее
		.content
			.container
				p Сегодняшняя жизнь уже не представляется без привычных нам вещей — телефоны, компьютеры, оргтехника, интернет, системы сигнализации и системы видео наблюдения. Основной вид деятельности нашей компании это создание сайтов, продвижение сайтов, поддержка сайта.
				p Мы предлагаем создание сайтов на постоянно высоком уровне с уникальным дизайном и на различных системах управления сайтом (CMS). С помощью большого набора инструментов наши специалисты делают поисковую оптимизацию сайта, и как следствие продвижение сайтов. Эффективная поддержка сайта достигается за счет практически бесперебойной работы собственного сервера, расположенного на территории Российской Федерации.
				p Компания «ITN-Проект» занимается разработкой, продвижением и поддержкой сайтов для корпоративных клиентов и государственных организаций. Мы работаем в сфере создания сайтов с 2009 года, имеем большой опыт создания интернет решений, часто выходящих за рамки обычного сайта.
				p Также компания «ITN-Проект» предлагает услуги по поддержке и IT-аутсорсингу компаний, установку систем сигнализации и систем видеонаблюдения на предприятиях, в магазинах, частных домах и квартирах, продажу электроники и расходных материалов для оргтехники (картриджи, тонер, ракели, фотобарабаны).