extends _template-inner

block main
	.inner-page
		.inner-page__header.mb-not
			.container
				h2 Услуги
				p.big Мы готовы предложить специальные комплексы услуг для ваших нужд!
		//service
		.page__service-tabs.service-tabs
			.container
				.row.service-tabs__row
					.col-xs-4.service-tabs__col
						.service-tabs__item
							.service-tabs__image: i.fa 
							span.service-tabs__header 
								| Создание сайтов
								span Эффективный подход!
							span.service-tabs__desc Оказание комплексных услуг по созданию сайтов для корпоративных клиентов и государственных организаций.
							a(href="#").service-tabs__button.btn.btn--serv Подробнее

					.col-xs-4.service-tabs__col
						.service-tabs__item
							.service-tabs__image: i.fa 
							span.service-tabs__header 
								| Поддержка сайтов
								span Новый этап работы!
							span.service-tabs__desc Комплекс мероприятий для эффективного представления товаров и услуг в сети интернет.
							a(href="#").service-tabs__button.btn.btn--serv Подробнее

					.col-xs-4.service-tabs__col
						.service-tabs__item
							.service-tabs__image: i.fa 
							span.service-tabs__header 
								| Развитие сайтов
								span Опередите конкурентов!
							span.service-tabs__desc Новая услуга по поддержке корпоративных клиентов и предоставлению услуг ИТ-аутсорсинга на выгодных условиях.
							a(href="#").service-tabs__button.btn.btn--serv Подробнее
		//service end
		.content
			.container
				p Сегодняшняя жизнь уже не представляется без привычных нам вещей — телефоны, компьютеры, оргтехника, интернет, системы сигнализации и системы видео наблюдения. Основной вид деятельности нашей компании это создание сайтов, продвижение сайтов, поддержка сайта.
				p Мы предлагаем создание сайтов на постоянно высоком уровне с уникальным дизайном и на различных системах управления сайтом (CMS). С помощью большого набора инструментов наши специалисты делают поисковую оптимизацию сайта, и как следствие продвижение сайтов. Эффективная поддержка сайта достигается за счет практически бесперебойной работы собственного сервера, расположенного на территории Российской Федерации.
				p Компания «ITN-Проект» занимается разработкой, продвижением и поддержкой сайтов для корпоративных клиентов и государственных организаций. Мы работаем в сфере создания сайтов с 2009 года, имеем большой опыт создания интернет решений, часто выходящих за рамки обычного сайта.
				p Также компания «ITN-Проект» предлагает услуги по поддержке и IT-аутсорсингу компаний, установку систем сигнализации и систем видеонаблюдения на предприятиях, в магазинах, частных домах и квартирах, продажу электроники и расходных материалов для оргтехники (картриджи, тонер, ракели, фотобарабаны).